<beans:beans
	xmlns:beans = "http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
   xsi:schemaLocation = 
   "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
   
   <context:component-scan base-package="one" />
   
   <tx:annotation-driven/>
   <jpa:repositories base-package="one" entity-manager-factory-ref = "entityManagerFactory1" transaction-manager-ref = "transactionManager1"/>
   
   <beans:bean id="transactionManager1" class="org.springframework.orm.jpa.JpaTransactionManager">
		<beans:property name="entityManagerFactory" ref="entityManagerFactory1"/>
  </beans:bean>
  
  <beans:bean id="entityManagerFactory1" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <beans:property name="dataSource" ref="dataSource1"/>
    <beans:property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter1"/>
    <beans:property name="jpaProperties">
      <beans:props>
        <beans:prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</beans:prop>
        <beans:prop key="hibernate.default_schema">schema1</beans:prop>
        <beans:prop key="hibernate.show_sql">true</beans:prop>
      </beans:props>
    </beans:property>
    <!-- entities -->
    <beans:property name="packagesToScan" value="one"/>
  </beans:bean>
  
  <beans:bean id="dataSource1" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="url" value="jdbc:postgresql://localhost:5432/database1"/>
		<beans:property name="username" value="postgres"/>
		<beans:property name="password" value="postgres"/>
		<beans:property name="driverClassName" value="org.postgresql.Driver"/>
  </beans:bean>
  
  <beans:bean id="hibernateJpaVendorAdapter1" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>

</beans:beans>